@font-face {
    font-family: 'Unica One';
    font-style: normal;
    font-weight: 400;
    src: local('Unica One'), local('UnicaOne-Regular'), url('UnicaOne-Regular.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body[data-ready="false"]{
    transform: translateX(100%);
}

html, body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    align-items: center;
    font-family: 'Unica One', sans-serif;
}

body[data-settingsshowing="true"] #settingsPanel{
    transform: translateY(0);
}

body[data-settingsshowing="true"] #display{
    transform: scale(0.85);
}

body[data-settingsshowing="true"] #gloworb{
    -webkit-app-region: no-drag;
}

body[data-settingsshowing="true"] #settingsBtn{
    display: none;
}

body[data-connecting="true"] #display{
    filter: blur(5px);
    opacity: 0.5;
}

body[data-connecting="false"] #connectionStatus{
    display: none;
}

#display{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: blur(0em);
    transition: ease-in-out 0.3s;
}

#gloworb{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 75vh;
    background-image: url('assets/box.png');
    background-size: 90%;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    padding-top: 1.5em;
    -webkit-app-region: drag;
    cursor: move;
}

#gloworb #orb{
    width: 59vw;
    height: 59vw;
    border: 1px solid rgba(0, 0, 0, 0.35);
    background-color: #b7b7b7;
    border-radius: 100%;
    margin-top: 2vh;
    /* box-shadow: 0 0 50px white; */
}

#gloworb #orb #crescent{
    background-image: url('assets/crescent.png');
    width: 100%;
    height: 100%;
    background-size: 65%;
    background-position: 100% 50%;
    overflow: hidden;
    border-radius: 100%;
    background-repeat: no-repeat;
}

#status{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    margin-top: 0.75em;
    width: 50%;
    text-align: center;
    border: 1px solid #d0d0d0;
    padding: 0.6em 1em;
    -webkit-user-select: none;
    cursor: default;
}

#status h1{
    padding: 0;
    margin: 0;
    line-height: 0.9em;
}

#status span{
    font-size: 0.75em;
    color: rgba(0,0,0,0.5);
    font-family: sans-serif;
    font-style: italic;
}

#settingsBtn{
    position: fixed;
    bottom: 1px;
    right: 1px;
    width: 1.5em;
    height: 1.5em;
    background: white;
    border-radius: 100%;
    background-image: url('assets/settings.png');
    background-size: 69%;
    background-position: 50%;
    background-repeat: no-repeat;
    border: 1px solid #d0d0d0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    display: block;
}

#settingsBtn:hover{
    animation: spinAnimation 3s infinite linear;
	-moz-animation: spinAnimation 3s infinite linear;
	-webkit-animation: spinAnimation 3s infinite linear;
	-o-animation: spinAnimation 3s infinite linear;
}

#settingsPanel{
    position: fixed;
    width: 95%;
    height: 95vh;
    border-radius: 10px;
    background: #f5f5f5;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border: 1px solid #d0d0d0;
    box-sizing: border-box;
    transition: ease-in-out 0.3s;
    top: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    z-index: 2;
    overflow: scroll;
}

#settingsPanel[data-active="false"]{
    transform: translateY(110vh);
}

#settingsPanel form{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding: 1em 1em 3em;
}

#settingsPanel form label{
    font-weight: 800;
    margin-bottom: 0.5em;
    color: #616161;
}

#settingsPanel form input[type="text"]{
    margin-bottom: 1em;
    font-size: 0.8em;
    padding: 0.8em 0.5em;
    border-radius: 3px;
    border: 1px solid #cacaca;
    font-weight: 600;
}

#settingsPanel form input[type="submit"]{
    display: block;
    align-self: center;
    text-align: center;
    align-content: center;
    justify-content: center;
    padding: 1em;
    background: white;
    font-size: 0.8em;
    background-color: #40884f;
    color: white;
    cursor: pointer;
    text-shadow: 0 1px 1px #6f6f6f;
    min-height: 3.5em;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
    border-radius: 0;
    border-color: #717171;
    border-width: 1px 0 0 0;
}

#settingsPanel form input[type="submit"]:hover{
    background-color: #72b781;
}

#connectionStatus{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#connectionStatus h1{
    background: rgba(0, 0, 0, 0.63);
    border-radius: 10px;
    padding: 0.5em 1em;
}

@keyframes spinAnimation{
	0% {transform: rotateZ(0deg);}
	100% {transform: rotateZ(360deg);}
}

@-moz-keyframes spinAnimation{
	0% {-moz-transform: rotateZ(0deg);}
	100% {-moz-transform: rotateZ(360deg);}
}
	
@-webkit-keyframes spinAnimation{
	0% {-webkit-transform: rotateZ(0deg);}
	100% {-webkit-transform: rotateZ(360deg);}
}
	
@-o-keyframes spinAnimation{
	0% {-o-transform: rotateZ(0deg);}
	100% {-o-transform: rotateZ(360deg);}
}